<%- include("partials/headerEN")%>
<script>

    $("#about").toggleClass("active")

</script>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="container-fluid textHome">
  <div class="row">
      <div class="col-3">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam est culpa magni laborum at ducimus. Laborum aliquid voluptatem maiores aut suscipit natus inventore necessitatibus eos minus officia! Eos, autem dolores reiciendis magni doloribus tempora iusto provident, iure iste error odit officiis neque animi recusandae. Deserunt aperiam aliquam quos molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti magnam mollitia, molestiae reiciendis, eligendi pariatur consectetur inventore maxime, placeat minima accusamus! Aspernatur blanditiis error debitis eaque corporis, aperiam necessitatibus molestiae repellat fuga cupiditate iste cumque culpa, quaerat obcaecati. Quidem voluptate praesentium ex voluptatum est vero tempore reiciendis soluta nisi doloremque?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, consequatur. Enim quas nesciunt cumque similique quaerat quisquam sequi natus rem quidem? Dicta illo omnis corporis similique recusandae, eaque illum fuga aliquid incidunt error rem odit nemo, nostrum iste praesentium necessitatibus unde laudantium beatae voluptates alias ut laboriosam! Rem, cumque ducimus!</p>
      </div>
      <div class="col-6">
        <p class="paraBas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, consequatur. Enim quas nesciunt cumque similique quaerat quisquam sequi natus rem quidem? Dicta illo omnis corporis similique recusandae, eaque illum fuga aliquid incidunt error rem odit nemo, nostrum iste praesentium necessitatibus unde laudantium beatae voluptates alias ut laboriosam! Rem, cumque ducimus!</p>

      </div>
      <div class="col-2">
        <h3>If you're a Professional and you want to discover all my little secrets :</h2>
          <a target="_blank"href="https://pdfhost.io/v/hEGCsNLMy_Attestation_de_deplacement_derogatoirepdf.pdf"> 
            <button class="btn btn-success download">
              Download CV
             
            </button>  </a>
        
      </div>
  </div>
</div>
<%- include("partials/footer")%>