<%- include("partials/headerEN")%>
<script>

    $("#about").toggleClass("active")

</script>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="container-fluid textHome">
  <div class="row">
      <div class="col-3">
        <p>Julie Demont est l'artiste la plus affolante de sa génération -

          Acrobate Aérienne, Circassienne, Contortioniste, Danseuse, Performeuse, Julie Demont est avant un monstre
          
          Julie commence son entrainement de gymnastique rythmique et sportive à l'âge de 5 ans. Cela devient une telle passion qu'elle suivra une scolarité aménagée jusqu'à ses 16 ans pour pouvoir suivre un entrainement sportif de haut niveau.
          
          A l'adolescence, le besoin de création prend le pas sur l'envie de compétition et Julie se faufile alors sur les planches de ses premiers cabarets, casinos et croisières. Elle y découvre le pouvoir de la scène, la puissance de l'art et la force de la performance pour faire passer des messages, comprendre des émotions et impressioner son public. Sa soif, que plus d'un metteur en scène trouva inextinguible, de défi l'ammena à passer une saison à Dubai avec le Cirque Eloize. De retour à Paris, elle rejoint, dès sa création, la troupe du Manko Cabaret. C'est au cœur de cette bacchanale de l'avenue Montaigne qu'elle déploit ses ailes. Figure centrale, elle y développe sa monstrueuse énergie dans des numéros emblématiques des nuits parisiennes. Femme à barbe et condamnée à mort, beauté difforme parlant avec des mondes inconnues. Julie Demont se révèle, au Manko, une artiste totale.
          
          C'est tout naturellement qu'elle fait partie de la distribution originale du Fashion Freak Show de Jean-Paul Gauthier pour qui elle marcha lors de ses derniers défilés Haute-Couture.</p>
      </div>
      <div class="col-6">
        <p class="paraBas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, consequatur. Enim quas nesciunt cumque similique quaerat quisquam sequi natus rem quidem? Dicta illo omnis corporis similique recusandae, eaque illum fuga aliquid incidunt error rem odit nemo, nostrum iste praesentium necessitatibus unde laudantium beatae voluptates alias ut laboriosam! Rem, cumque ducimus!</p>

      </div>
      <div class="col-2">
        <h3>If you're a Professional and you want to discover all my little secrets :</h2>
          <a target="_blank"href="https://pdfhost.io/v/hEGCsNLMy_Attestation_de_deplacement_derogatoirepdf.pdf"> 
            <button class="btn btn-success download">
              Download CV
             
            </button>  </a>
        
      </div>
  </div>
</div>
<%- include("partials/footer")%>