<%- include("partials/headerEN")%>

<div class="jumbotron connerie text-center">
    <div class="row">
<div class="col-6">
  
   <img class="img-thumbnail" src="https://i.ibb.co/tBdRmT1/385-3858903-woman-dialing-a-number-on-an-old-school.png" alt=""> 
</div>

    
    <div class="col-6">
        <h1>GET IN TOUCH BABY</h1>
    
        <p> Mail : <a href="mailto:juliedemon@hotmail.fr">juliedemont@hotmail.fr</a></p>
        <p>Facekook :<a  href="https://www.facebook.com/JulieCircusArstist/"></a></p>
        <p>Instagram :<a  href="https://www.instagram.com/juliedemont/?hl=fr"></a></p>
    </div>
    
</div>
</div>





<%- include("partials/footer")%>