<%- include("partials/headerEN")%>

<div class="jumbotron connerie text-center">
    <h1>GET IN TOUCH BABY</h1>
    
    <p> Mail : <a href="mailto:juliedemon@hotmail.fr">juliedemont@hotmail.fr</a></p>
    <p>Facekook :<a  href="https://www.facebook.com/JulieCircusArstist/"></a></p>
    <p>Instagram :<a  href="https://www.instagram.com/juliedemont/?hl=fr"></a></p>
</div>





<%- include("partials/footer")%>