
<%- include("partials/header")%>
<a  target="_blank" href="https://fr.scribd.com/document/457339255/Demont-Florian-Cv" download="Demont Julie Cv" >
    <button class="btn btn-secondary">Download CV</button>
</a>
<%- include("partials/footer")%>