
<%- include("partials/header")%>

<div class="container w-100 ml-auto mr-auto">
    <div class="row">
        <div class="col-3"><p>Principalement acrobate aérienne et contorsionniste Julie Demont est une artiste pluridisciplinaire à
            l'univers bien marqué. Elle a travaillé dans différents milieux, du cabaret du burlesque ou du cirque et 
            notamment pour des compagnies prestigieuses tel que le Cirque Éloize. Et commence dans le meme a explorer des personnages
             pour apporter de l'artistique à la technique de cirque. En 2016 elle se rapproche de l'univers de la mode et de celui de Jean-Paul
            Gaultier en participant à l'ouverture du Manko cabaret en tant qu'artiste de cirque . Cabaret club décadent qui attire notamment les grands
             noms de la mode dans lequel elle grandit et évolue pour affiner ses créations et afficher un style dynamique rock'n'roll.
           </p></div>
        <div class="col-6">
            <img src="https://static.wixstatic.com/media/1ef728_74c81e4db80744eeab4b500e8d618d91~mv2.jpg/v1/crop/x_115,y_0,w_730,h_640/fill/w_496,h_435,al_c,q_80,usm_0.66_1.00_0.01/10428056_551962758282722_847556448728439.webp">
        </div>
    </div>
</div>



<%- include("partials/footer")%>


