<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="../jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
	<link href="../landing.css" media="all" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../jquery.mb.YTPlayer.js"></script>
	<script src="../landingScript.js"></script>
<script>
var myPlayer;
		jQuery(function () {
		  myPlayer = jQuery("#bgndVideo").YTPlayer({useOnMobile:true, mobileFallbackImage:"assets/mask-4.png"});})

</script>

</head>
<body>
	
	<div id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/M1afcSOzkuk',showControls:0,containment:'body',useOnMobile:true,optimizeDisplay:true,ratio:'auto',autoPlay:true, mute:true, startAt:93.5,stopAt:102, opacity:1}">My video</div>

	<nav>
		
		<a class="liens anim"  href="/en/about">About Me</a>
		<p class="esp anim">|</p>
		<a class="liens anim"  href="/en/photos">Photos</a>
		<p class="esp anim">|</p>
		<a  class="liens anim" href="/en/videos">Videos</a>
		<p class="esp anim">|</p>
		<a  class="liens anim" href="/en/performances">Performances</a>
		<p class="esp anim">|</p>
		<a  class="liens anim" href="/en/events">Events</a>
		<p class="esp anim">|</p>
		<a  class="liens anim" href="/en/contact">Contact</a>
		
		
	</nav>
	<div class="titreprin text-center">
	<a href="en/about">
	<h1  class ="anim julie">
		Julie Demont
	</h1>
	</a>

</div>



</body>
</html>