<%- include("partials/headerEN")%>


<div class="container">
    <div class="row">
        <div class="col-4"><img src="../medias/photos/1.jpg" alt=""></div>
        <div class="col-4"><img src="../medias/photos/2.jpg" alt=""></div>
        <div class="col-4"><img src="../medias/photos/3.jpg" alt=""></div>
    </div>
</div>

<%- include("partials/footer")%>