body {
	background-image: url("https://www.publicdomainpictures.net/pictures/170000/nahled/grunge-background-14635619239LT.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.fab {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.social:hover {
	opacity: 0.7;
}

nav a {
	color: #80808c;
}
#navchange {
	background-color: #1d1e22;
	color: #80808c;
	font-weight: 400;
}

/* .fa-facebook {
	color: #3578e5;
} */

#instagram {
	width: 30px;
	height: 30px;
}

.social {
	width: 35px;
	position: relative;
	bottom: 3px;
	opacity: 0.5;
}

.language {
	width: 30px;
	height: 30px;
}

.flag {
	font-weight: 500;
	display: inline;
}

.contact {
	height: 40px;
}

#mainav {
	width: 50%;
	margin-left: auto;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.connerie {
	width: 60%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	border: 30px solid #1d1e22;
	color: #1d1e22;
}

footer {
	text-align: right;
	padding-right: 1%;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	color: #1d1e22;
}

footer a {
	color: #1d1e22;
	padding-left: 2%;
}

footer a:hover {
	color: #1d1e22;
}

.login {
	max-width: 30%;
	color: white;
}

.bou {
	display: block;
	margin: auto;
}

/* //////////////////////////////////HEADER///////////////////////////////////////////////// */
.active {
	color: red;
}
.jakadi {
	border-bottom: solid 1px #1d1e22;
	border-right: solid 1px #1d1e22;
}
.jakadi:hover {
	color: white;
	border-radius: 0.2rem;
	border-bottom: solid 1px #80808c;
	border-right: solid 1px #80808c;

	box-shadow: 1px 1px 0px #80808c;
}
/* ///////////////////////////////PHOTOS////////////////////////////////////////// */
.mode {
	background: rgb(15, 9, 135);
	background: radial-gradient(circle, rgba(15, 9, 135, 1) 0%, rgba(0, 0, 0, 1) 80%);
}
.spectacle {
	background: rgb(182, 5, 44);
	background: radial-gradient(circle, rgba(182, 5, 44, 1) 0%, rgba(0, 0, 0, 1) 80%);
}

.perf {
	background: rgb(191, 183, 13);
	background: radial-gradient(circle, rgba(191, 183, 13, 1) 0%, rgba(0, 0, 0, 1) 80%);
}

.photos {
	max-width: 85%;
	height: auto;
	box-shadow: 5px 5px 5px #252924;
}

.minheight {
	min-height: 80vh;
}

/* //////////////////////////////VIDEO/////////////////////////////////// */
hr {
	border: solid 1px grey;
	width: 50%;
}

.para {
	font-size: 1rem;
}

.tvideo {
	text-decoration: underline;
	color: red;
}

/* ////////////////////////////////header///////////////////////////////////// */

.contact {
	font-weight: 500;
}
