body {
	/* background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-black-minimalist-wall-floor-image_22926.jpg");
	background-size: 50%; */
	/* background-repeat: no-repeat; 
	background-size: cover; */
	/* background: linear-gradient(
		179.5081790961479deg,
		rgba(3, 5, 36, 1) 43.912000000000006%,
		rgba(82, 6, 20, 1) 67.99600000000001%,
		rgba(82, 6, 20, 1) 69.83200000000001%
	); */
	background-color: black;

	/* background: rgb(15, 9, 135);
	background: radial-gradient(circle, rgba(15, 9, 135, 1) 0%, rgba(0, 0, 0, 1) 40%); */
	color: white;
	font-size: 1.2rem;
	/* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
		0 0 150px #0ff; */
	font-family: myFont;

	/* font-family: 'Roboto', sans-serif;git */
}

@font-face {
	font-family: myFont;
	src: url(911Fonts.com_GeorgiaItalic__-_911fonts.com_fonts_shHZ.ttf);
	/* font-family: myFont2;
	src: url(zombies.ttf); */
}

/* //////////////////////////////NAVBAR//////////////////////////////////////// */
.navbar {
	min-height: 3rem;
	background-color: #d3d3d3;
}

.navbar a {
	/* font-family: 'Cormorant SC', serif; */

	font-size: 1.5rem;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
		0 0 150px #0ff;
	/* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #f0f1a1, 0 0 80px #f0f1a1, 0 0 90px #f0f1a1,
		0 0 100px #f0f1a1, 0 0 150px #f0f1a1; */
	letter-spacing: 0.05rem;
	border: 1px solid transparent;
}
.animatedBorder {
	position: relative;
}

.animatedBorder:after {
	content: '';
	position: absolute;
	border-bottom: 2px solid #fff;
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff,
		0 0 150px #0ff;
	bottom: 0;
	left: 0;
	right: 100%;
	transition: all 300ms;
}

.animatedBorder:hover:after {
	right: 0;
}
.navbar a:hover {
	color: white;
}

#navchange {
	box-shadow: 0 20px 50px rgb(23, 32, 90);

	color: rgb(23, 32, 90);
	/* background: #111845a6; */
	background-color: #111845a6;
}

#navchangephoto {
	background-color: black;
}

.social {
	width: 35px;
	position: relative;
	bottom: 3px;
	opacity: 0.8;
	display: none;
}
#fb {
	margin-right: 0.4rem;
}
.cont {
	margin-left: auto;
	margin-right: auto;
}
#contact {
	margin-right: 0.4rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
}
.icon:hover {
	color: white;
}
.langues {
	margin-left: auto;
	margin-right: auto;
}
.linkss {
	width: 25%;
}
@media (min-width: 992px) {
	#mainav {
		width: 60%;
		margin-left: auto;
	}
	.sepp {
		display: none;
	}
	.linkss {
		width: auto;
	}
	.social {
		display: inline;
	}
}
.flag {
	font-weight: 300;
	display: inline;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-divider {
	background-color: #1d1e22;
	color: #80808c;
}

.dropdown-divider {
	height: 0.1rem;
	background-color: #80808c;
	margin: 0;
	overflow: hidden;
	border: 0;
}
.dropdown-item {
	background-color: #1d1e22;
	color: #80808c;
}

.navbar a.active {
	/* background-color: #80808c;
	border-radius: 0.4rem;
	*/

	box-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #0ff, 0 0 6px #0ff, 0 0 7px #0ff, 0 0 8px #0ff,
		0 0 10px #0ff;
	/* text-shadow: .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, .1vw 0vw 0vw #f25757,
		.2vw 0vw 0vw #f25757, .4vw 0vw 0vw #f25757, .1vw 0vw .1vw #f25757, .2vw 0vw .1vw #f25757, .4vw 0vw .1vw #f25757,
		.1vw 0vw 2vw #f25757, .2vw 0vw 2vw #f25757, .4vw 0vw 2vw #f25757, .1vw 0vw 1vw #e50b0b, .2vw 0vw 1vw #e50b0b,
		.4vw 0vw 5vw #e50b0b, .1vw 0vw 5vw #e50b0b, .2vw 0vw 20vw #e50b0b, .4vw 0vw 10vw #e50b0b, .1vw 0vw 10vw #e50b0b,
		.2vw 0vw 30vw #e50b0b, .4vw 0vw 10vw #e50b0b; */
}
/* ///////////////HOME PAGE/////////////////////////////////////////// */

.homeimg {
	max-width: 70%;
	height: auto;
}

/* /////////////////////////////CONTACT//////////////////////////////////////////// */

.imgtel {
	max-width: 70%;
}
#adresseEmail {
	color: #f0f1a1;
}
.contacts {
	margin-left: auto;
	margin-right: auto;
	color: #f0f1a1;
}
.contacts:hover {
	color: #f0f1a1;
}

.zoneText {
	width: 60%;
}
.texteArea {
	width: 100%;
	padding: 2%;
}
.bouttonMail {
	background-color: #f0f1a1;
	width: 30%;
	font-size: 1.2rem;
	border: 0px;
	color: rgb(23, 32, 90);
	margin-bottom: 2%;
}

.bouttonMail:hover {
	background-color: rgb(23, 32, 90);
	border: 0px;
	color: #f0f1a1;
}
.box {
	margin-top: 5%;

	width: 90%;
	height: 60%;
	/* background: #111845a6; */
	box-sizing: border-box;
	font-size: 1.2rem;
	box-shadow: 0 20px 50px rgb(23, 32, 90);
	border: 2px solid #2a3cad;
	color: #f0f1a1;
}

.box span {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
}

.box span:nth-child(1) {
	transform: rotate(180deg);
}

.box span:nth-child(3) {
	transform: rotate(0deg);
}

.box span:nth-child(2) {
	transform: rotate(180deg);
}

.box span:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #50dfdb;
	animation: animate 4s linear infinite;
}

@keyframes animate {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	50% {
		transform: scaleX(1);
		transform-origin: left;
	}
	50.1% {
		transform: scaleX(1);
		transform-origin: right;
	}

	100% {
		transform: scaleX(0);
		transform-origin: right;
	}
}

Resources /* ///////////////FOOOTER////////////////////////////////////////////////////////////// */ footer {
	text-align: right;
	padding-right: 1%;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	color: #1d1e22;
}

footer a {
	color: #1d1e22;
	padding-left: 2%;
}

footer a:hover {
	color: #1d1e22;
}

.login {
	max-width: 30%;
	color: white;
}

.bou {
	display: block;
	margin: auto;
}

/* ///////////////////////////////VIDEOS////////////////////////////////////////// */
.gallery {
	width: 60%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
/* //////////////////////////////PERFORMANCES/////////////////////////////////// */
hr {
	border: solid 1px grey;
	width: 50%;
}

.para {
	font-size: 1rem;
}
.galleryPerf {
	margin-left: auto;
	margin-right: auto;
}
.tvideo {
	text-decoration: underline;
	color: #2a3cad;
}
.downloadfiche {
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 20px 50px rgb(23, 32, 90);
	border: 2px solid #2a3cad;
	color: #f0f1a1;
	background: #111845a6;
	width: 50%;
	height: 10%;
	font-size: 1.5rem;
}
.downloadfiche:hover {
	box-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #0ff, 0 0 8px #0ff, 0 0 9px #0ff, 0 0 10px #0ff,
		0 0 15px #0ff;
	border: 2px solid #2a3cad;
	color: #f0f1a1;
	background: #111845a6;
}
/* body {
	background-image: url(https://i.ibb.co/jHyg01M/new-nbgam5-c-scale-w-1400.png);
	background-repeat: no-repeat;
	background-size: cover;
} */

/* ////////////////////ABOUT ME /////////////////////////////////////////////
*/

.textHome {
	margin-top: 2%;
	margin-left: 2%;
	letter-spacing: 0.1rem;
	color: white;
	width: 100%;
}
.paraBas {
	margin-top: 60%;
}
.download {
	box-shadow: 0 20px 50px rgb(23, 32, 90);
	border: 2px solid #2a3cad;
	color: #f0f1a1;
	background: #111845a6;
	width: 100%;
	height: 10%;
	font-size: 1.5rem;
}
.download:hover {
	box-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #0ff, 0 0 8px #0ff, 0 0 9px #0ff, 0 0 10px #0ff,
		0 0 15px #0ff;
	border: 2px solid #2a3cad;
	color: #f0f1a1;
	background: #111845a6;
}
.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: -1;
	animation: imageAnimation 5s linear 1;
	animation-fill-mode: forwards;
}

.slideshow li:nth-child(1) {
	background-image: url(https://i.ibb.co/5R9nd22/img-1.png);
	width: 100%;
}

@keyframes imageAnimation {
	100% {
		opacity: 1;
	}
}

/* .slideshow li:nth-child(1) {
	background-image: url(https://i.ibb.co/5R9nd22/img-1.png);
	width: 100%;
}
.slideshow li:nth-child(2) {
	background-image: url(https://i.ibb.co/dDGksnN/2.jpg);
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	animation-delay: 10s;
}
.slideshow li:nth-child(3) {
	background-image: url(https://i.ibb.co/dDGksnN/2.jpghttps://i.ibb.co/dDGksnN/2.jpg);
	animation-delay: 20s;
}
.slideshow li:nth-child(4) {
	background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
	animation-delay: 30s;
}
.slideshow li:nth-child(5) {
	background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
	animation-delay: 40s;
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
} */
